In [1]:
library(dplyr)
library(tidyr)
library(tidyverse)
library(tidymodels)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.4
✔ ggplot2   3.4.4     ✔ stringr   1.5.0
✔ lubridate 1.9.3     ✔ tibble    3.2.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [2]:
tennis_data <- read_csv("data/player_stats.csv")

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
tennis_data_deleted <-tennis_data |>rename(Current_Rank = "Current Rank",Best_rank ="Best Rank",Favorite_Surface="Favorite Surface",Turned_Pro="Turned Pro",Current_Elo_Rank="Current Elo Rank",Best_Elo_Rank="Best Elo Rank",Peak_Elo_Rating="Peak Elo Rating",Last_Appearance="Last Appearance",GOAT_Rank="GOAT Rank",Best_Season="Best Season")|>
select(- c(...1,Wikipedia, Height,Masters,Birthplace,Residence,Weight,Coach,Facebook,Twitter,Nicknames,"Davis Cups",Olympics,"Grand Slams","Web Site","Team Cups","Weeks at No. 1","Tour Finals"))

In [4]:
Separated_Age_Age_When <- separate(tennis_data_deleted,Age,into= c("Age","Age_When"),sep= "\\(") |>separate(Age_When,into= c("Age_When","blank"),sep= "\\)")|>select(-blank)
#Separated Age to Age and Age_When

In [5]:
Separated_Current_Rank_Points <-separate(Separated_Age_Age_When,Current_Rank,into= c("Current_Rank","Current_Rank_Points"),sep= "\\(") |>separate(Current_Rank_Points,into= c("Current_Rank_Points","blank"),sep= "\\)")|>select(-blank)
#Separated Current_Rank to Current_Rank and Current_Rank_Points

In [6]:
Best_rank_When <-separate(Separated_Current_Rank_Points,Best_rank,into= c("Best_rank","Best_rank_When"),sep= "\\(" ) |>
separate(Best_rank_When,into= c("Best_rank_When","blank"),sep= "\\)")|>
select(-blank)

In [7]:
Seperated_Current_Elo_Rank <-separate(Best_rank_When,Current_Elo_Rank,into= c("Current_Elo_Rank","Current_Elo_Rank_Points"),sep= "\\(" ) |>
separate(Current_Elo_Rank_Points,into= c("Current_Elo_Rank_Points","blank"),sep= "\\)")|>
select(-blank)

In [8]:
Seperated_Best_Elo_Rank <-separate(Seperated_Current_Elo_Rank,Best_Elo_Rank,into= c("Best_Elo_Rank","Best_Elo_Rank_Date"),sep= "\\(" ) |>
separate(Best_Elo_Rank_Date,into= c("Best_Elo_Rank_Date","blank"),sep= "\\)")|>
select(-blank)

In [9]:
Separated_Peak_Elo_Rating<-separate(Seperated_Best_Elo_Rank,Peak_Elo_Rating	,into= c("Peak_Elo_Rating","Peak_Elo_Rating_Date"),sep= "\\(" ) |>
separate(Peak_Elo_Rating_Date,into= c("Peak_Elo_Rating_Date","blank"),sep= "\\)")|>
select(-blank)

In [10]:
Seperated_GOAT_Rank <-separate(Separated_Peak_Elo_Rating,GOAT_Rank,into= c("GOAT_Rank_Points","GOAT_Rank"),sep= "\\(" ) |>
separate(GOAT_Rank,into= c("GOAT_Rank","blank"),sep= "\\)")|>
select(-blank)

In [11]:
#lacking the Surface Data to do

In [12]:
tennis_data_remain <- select(Seperated_GOAT_Rank,c(Age, Country, Current_Rank, Current_Rank_Points, Best_rank, Best_rank_When,Name))|>
 mutate(Age=as.numeric(Age),Current_Rank=as.numeric(Current_Rank),Current_Rank_Points=as.numeric(Current_Rank_Points),Best_rank=as.numeric(Best_rank)) |>
 drop_na(Current_Rank_Points)

In [13]:
tennis_data_sorted <- arrange(tennis_data_remain,desc(as.numeric(Current_Rank_Points)))
tennis_data_sorted

    Age Country                   Current_Rank Current_Rank_Points Best_rank
1   33  Spain                      1           10235                1
2   32  Serbia                     2            9720                1
3   38  Switzerland                3            6590                1
4   23  Russian Federation         4            5960                4
5   26  Austria                    5            5890                4
6   21  Greece                     6            5375                5
7   22  Germany                    7            3345                3
8   23  Italy                      8            2870                8
9   31  Spain                      9            2630                9
10  33  France                    10            2565                6
11  29  Belgium                   11            2555                7
12  32  Italy                     12            2310                9
13  20  Canada                    13            2200               13
14  27  Argentina                 14            2130               11
15  34  Switzerland               15            2045                3
16  22  Russian Federation        16            2004               16
17  23  Russian Federation        17            1995                8
18  30  Japan                     18            1930                4
19  34  United States             19            1860                8
20  28  Bulgaria                  20            1772                3
21  30  France                    21            1703               18
22  19  Canada                    22            1701               17
23  20  Australia                 23            1665               18
24  25  France                    24            1600               10
25  29  Argentina                 25            1585               20
26  24  Australia                 26            1520               13
27  29  Serbia                    27            1516               23
28  23  Croatia                   28            1490               12
29  27  Georgia                   29            1485               16
30  28  Spain                     30            1422               10
⋮   ⋮   ⋮                         ⋮            ⋮                   ⋮
466 25  Netherlands               465          66                  423
467 27  United States             469          66                  465
468 20  Taiwan, Province of China 471          65                  462
469 23  Czech Republic            475          65                  415
470 31  France                    470          65                  153
471 24  Brazil                    472          65                  440
472 27  Spain                     474          65                  254
473 21  Italy                     473          65                  469
474 21  France                    476          65                  402
475 19  Russian Federation        479          64                  474
476 22  Spain                     477          64                  349
477 27  France                    480          64                  409
478 29  Spain                     478          64                  268
479 28  Russian Federation        488          63                  329
480 26  Zimbabwe                  487          63                  391
481 25  Spain                     482          63                  353
482 23  Austria                   483          63                  390
483 29  Colombia                  481          63                  362
484 21  Italy                     485          63                  389
485 25  France                    486          63                  465
486 24  Peru                      491          62                  485
487 22  Finland                   489          62                  423
488 27  Spain                     490          62                  171
489 20  Turkey                    492          61                  488
490 24  United States             493          61                  486
491 23  Cyprus                    494          60                  378
492 23  Netherlands               495          60                  342
493 21  France                    498          59                  391
494 20  United Kingdom            499          58                  427
495 23  France                    500          58                  226
    Best_rank_When Name
1   18-08-2008     Rafael Nadal
2   04-07-2011     Novak Djokovic
3   02-02-2004     Roger Federer
4   09-09-2019     Daniil Medvedev
5   06-11-2017     Dominic Thiem
6   05-08-2019     Stefanos Tsitsipas
7   06-11-2017     Alexander Zverev
8   04-11-2019     Matteo Berrettini
9   04-11-2019     Roberto Bautista Agut
10  07-11-2016     Gael Monfils
11  20-11-2017     David Goffin
12  15-07-2019     Fabio Fognini
13  13-01-2020     Denis Shapovalov
14  11-06-2018     Diego Sebastian Schwartzman
15  27-01-2014     Stan Wawrinka
16  20-01-2020     Andrey Rublev
17  15-07-2019     Karen Khachanov
18  02-03-2015     Kei Nishikori
19  16-07-2018     John Isner
20  20-11-2017     Grigor Dimitrov
21  11-01-2016     Benoit Paire
22  14-10-2019     Felix Auger Aliassime
23  28-10-2019     Alex De Minaur
24  19-03-2018     Lucas Pouille
25  19-08-2019     Guido Pella
26  24-10-2016     Nick Kyrgios
27  29-04-2019     Dusan Lajovic
28  05-11-2018     Borna Coric
29  27-05-2019     Nikoloz Basilashvili
30  11-09-2017     Pablo Carreno Busta
⋮   ⋮              ⋮
466 24-07-2017     Niels Lootsma
467 13-01-2020     Nick Chappell
468 21-10-2019     Yu Hsiou Hsu
469 22-10-2018     David Poljak
470 08-01-2018     Gleb Sakharov
471 21-05-2018     Rafael Matos
472 21-05-2018     Carlos Boluda Purkiss
473 13-01-2020     Riccardo Balzerani
474 12-08-2019     Matteo Martineau
475 13-01-2020     Alexey Zakharov
476 30-01-2017     Alvaro Lopez San Martin
477 12-08-2019     Mathieu Perchicot
478 07-05-2018     Carlos Gomez Herrera
479 24-12-2018     Alexander Zhurbin
480 17-12-2018     Benjamin Lock
481 05-11-2018     Eduard Esteve Lobato
482 16-10-2017     David Pichler
483 09-04-2018     Cristian Rodriguez
484 24-06-2019     Jacopo Berrettini
485 19-08-2019     Robert Quentin
486 13-01-2020     Jorge Brian Panta Herreros
487 22-10-2018     Patrik Niklas Salminen
488 09-10-2017     Ricardo Ojeda Lara
489 12-08-2019     Ergi Kirkin
490 13-01-2020     Gage Brymer
491 31-12-2018     Petros Chrysochos
492 05-08-2019     Gijs Brouwer
493 05-08-2019     Evan Furness
494 22-07-2019     Paul Jubb
495 17-09-2018     Johan Sebastien Tatlot

In [14]:
tennis_split <- initial_split(tennis_data_sorted, prop = 0.75, strata = Country)
tennis_train <- training(tennis_split)
tennis_test <- testing(tennis_split)

Warning message:
“Too little data to stratify.
• Resampling will be unstratified.”

In [15]:
tennis_data_region <- tennis_train |>
    group_by(Country) |>
    summarize(count = n()) |> 
    arrange(desc(count)) |>
    slice(1:10) 
tennis_data_region

   Country            count
1  France             37
2  Italy              28
3  United States      28
4  Spain              23
5  Argentina          22
6  Germany            21
7  Japan              17
8  Russian Federation 15
9  Australia          14
10 Brazil             10

In [16]:
total_japan <- tennis_train |>
    filter(Country == "Japan") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1) 
total_japan

total_france <- tennis_train |>
    filter(Country == "France") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_france

total_united_states <- tennis_train |>
    filter(Country == "United States") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_united_states

total_italy <- tennis_train |>
    filter(Country == "Italy") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_italy

total_germany <- tennis_train |>
    filter(Country == "Germany") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_germany

total_spain <- tennis_train |>
    filter(Country == "Spain") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_spain

total_australia <- tennis_train |>
    filter(Country == "Australia") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_australia

total_argentina <- tennis_train |>
    filter(Country == "Argentina") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_argentina

total_russian_federation <- tennis_train |>
    filter(Country == "Russian Federation") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_russian_federation

total_brazil <- tennis_train |>
     filter(Country == "Brazil") |>
    mutate(Country_Points = sum(Current_Rank_Points)) |>
    select(Country, Country_Points) |>
    slice(1)
total_brazil


#total_country_points <- merge(total_japan, total_france, total_brazil, total_russian_federation, total_argentina, total_australia, total_spain, total_germany, total_italy, by=c("Country", "Country_Points"))

  Country Country_Points
1 Japan   5985

  Country Country_Points
1 France  17721

  Country       Country_Points
1 United States 10473

  Country Country_Points
1 Italy   12015

  Country Country_Points
1 Germany 9016

  Country Country_Points
1 Spain   20938

  Country   Country_Points
1 Australia 6794

  Country   Country_Points
1 Argentina 6677

  Country            Country_Points
1 Russian Federation 11447

  Country Country_Points
1 Brazil  1911

In [17]:
is.data.frame(total_japan)

[1] TRUE

In [18]:
total_country_points <- bind_cols(total_japan, total_france, 
                                  total_brazil, total_russian_federation, 
                                  total_argentina, total_australia,
                                  total_spain, total_germany, 
                                  total_italy, total_united_states)
total_country_points

New names:
• `Country` -> `Country...1`
• `Country_Points` -> `Country_Points...2`
• `Country` -> `Country...3`
• `Country_Points` -> `Country_Points...4`
• `Country` -> `Country...5`
• `Country_Points` -> `Country_Points...6`
• `Country` -> `Country...7`
• `Country_Points` -> `Country_Points...8`
• `Country` -> `Country...9`
• `Country_Points` -> `Country_Points...10`
• `Country` -> `Country...11`
• `Country_Points` -> `Country_Points...12`
• `Country` -> `Country...13`
• `Country_Points` -> `Country_Points...14`
• `Country` -> `Country...15`
• `Country_Points` -> `Country_Points...16`
• `Country` -> `Country...17`
• `Country_Points` -> `Country_Points...18`
• `Country` -> `Country...19`
• `Country_Points` -> `Country_Points...20`

  Country...1 Country_Points...2 Country...3 Country_Points...4 Country...5
1 Japan       5985               France      17721              Brazil
  Country_Points...6 Country...7        Country_Points...8 Country...9
1 1911               Russian Federation 11447              Argentina
  Country_Points...10 Country...11 Country_Points...12 Country...13
1 6677                Australia    6794                Spain
  Country_Points...14 Country...15 Country_Points...16 Country...17
1 20938               Germany      9016                Italy
  Country_Points...18 Country...19  Country_Points...20
1 12015               United States 10473